.can-hover button:hover {
  -moz-box-shadow:    0px 8px 6px -6px rgb(128, 128, 128);
  -webkit-box-shadow: 0px 8px 6px -6px rgb(128, 128, 128);
  box-shadow:         0px 8px 6px -6px rgb(128, 128, 128);

  transform: translateY(-1px);

  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.can-hover button[disabled]:hover {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
  transform: none;
}

.can-hover button#darkModeButton:hover {
  transform: scale(1.09);
  transition: transform 100ms ease-in-out;
}
