@import "./dark.css";
@import "./hover.css";
@import "./footer.css";
@import "./banner.css";

:root {
  --gray: #d4d4d4;
  --font-color: #454545;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Light mode */

@media screen and (max-width: 500px) { /* Smol screens */
  body#body {
    margin-top: 1.2rem;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }
}
@media screen and (min-width: 501px) { /* Normal screens */
  body#body {
    margin-top: 3rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
}

body#body {
  color: var(--font-color);
  margin-bottom: 50px;
  /* transition: all 250ms ease-in-out; */ /* Added later via script */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

p, li {
  font-size: 16px;
  line-height: 1.3;
}

small {
  font-size: 9px;
}

a {
  color: #07a;
  text-decoration: none;
}
a[href="#"] { /* <a href="#"> If a link leads to nowhere, make it red. */
  color: rgb(189, 59, 59);
}
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  background-color: var(--gray);
  font-size: 16px;
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
}

button[disabled] {
  cursor: not-allowed;
}

button[disabled]:active {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
  box-shadow:         none;
}

audio {
  margin-top: 1em;
  background-color: #FFFFFF;
}

button#darkModeButton {
  cursor: pointer;
  padding: 0.4em;
  border: none;
  border-radius: 3px;
  background-color: #454545;
  text-align: center;
  transition: transform 100ms ease-in-out;
}
button#darkModeButton:active {
  transform: scale(0.99);
  transition: transform 40ms ease-in-out;
}